{
    "printWidth": 88,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.py",
            "options": {
                "parser": "python",
                "singleQuote": false,
                "printWidth": 88,
                "tabWidth": 4
            }
        }
    ]
}
